@import url("./styles.css");
:root {
    --list-bg: #dfdfdf;
    --hover-bg: #b0b0b0;
    --font-color: #1d1d1d;  
}
body {
    min-height:100vh;
}
.dropdownList > {
    color: #080808;
    position: relative;
    left: 5em;  
}
.dropdownItem {
    background: #fff;
    color: #000;

}
.dropdownList{
        
    border: 1px solid #cccccc;
    border-radius: 2%;
    background: var(--list-bg);
    display:none;
    box-shadow:#bebdbd 1px 1px 5px;

}
.list1{
    position: absolute;
    /* top: 4em; */
    /* left: 7em;  */
}
.dropdownList >*{
    padding:1em;
    color: #575757;
    border-radius: 2%;

    /* background: #fff; */
    
}

.viewButton {
    padding: 0.5em 1em 0.5em 1em;   
    font-size: 1em;
    font-weight: bold;

}

.dropdownItem:hover {
    background: var(--hover-bg);

}

.dropdown:hover .dropdownList {
    display:block;  
}

.list2, .list3 {
    position: absolute;
}
.list2 {
    /* left: 12em; */

}

.dropdownButton {
    border:none;
    background:inherit;
    width: 100%;
    color: var(--font-color)
}
.dropdownButton:focus, .dropdownButton:hover {
    color: var(--font-color);
}

.container {
    min-width: 90vw;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 1em;
    padding-bottom: 2em;
    padding-top:2em;
    color: #272727;
}

table {
    /* border:1px solid #000; */
    border-collapse: collapse;
    
}
 th, td, tr {
    border: 2px solid #7c7c7c;
    padding: 1em;
    color: #181818;
    font-size:1.1em;

}
.hidden {
    display:none;
}

#default{
    font-size: 6em;
}

#heading {
    font-size: 3em;
}