@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styles for the navbar */
body {
    font-family: 'Young Serif', serif;  
}
.nav {
    background: linear-gradient(rgb(23, 30, 37), rgb(9, 9, 9));
    padding: 1em 1em 1em 1em;
    font-size: 1.5em;
    color: #fff;
    display:flex;
    gap: 0.8em;
}
.links {
    text-decoration: none;
    color: #fff;
    font-size: inherit;
}

.dropdown {
    background: none;
    color:inherit;
    border : none;
    font-size: inherit;
    font-weight:inherit;
    text-align: center;   


    
}
.links:hover, .links:active {
    color: #b8b8b8;

}
a {
    text-decoration: none;
    color: #fff;
}

.block {
    display:block;
}


.searchBar {
margin-left: auto;

}

.inputSearchField {
    height: 2em;
    width: 18em;
    background: #ececec;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin-right: 1em;
}
.searchButton {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 7em;
    height: 2em;
    font-weight: bold;
    color: #303030;
    
}
.content {
    display:flex;
    align-items:center;
    justify-content:center;
    max-height: 100vh;
    height:80vw;
}
.titleText {
    font-size: 5em;
    background: #d7dada;
    height: 3em;
    text-align:center;
    padding:1em 1em;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #bebdbd;
    color: #535353;
}

.logoutButton {
    background: rgb(255, 0, 0);
    border: 1px solid #3a3838;
    color:#303030;
    font-weight:bold;
    width:6em;
    height:2.1em;
    border-radius: 5px;
}
.logoutButton:hover{
    background:rgb(227, 10, 10);

}
.logoutButton:active {
    background: rgb(198, 16, 16);
}